[Desktop Entry]
Name=Processing
Type=Application
Exec=/usr/local/bin/github
Icon=/usr/local/icons/github.png
Categories=Graphics;3DGraphics;Viewer;Qt;
Name[fr_FR]=github
