[Desktop Entry]
Name=Blend
Type=Application
Exec=/usr/local/bin/paraview
Icon=/usr/local/icons/paraview.png
Categories=Graphics;
Name[fr_FR]=paraview
