[Desktop Entry]
Name=Processing
Type=Application
Exec=/usr/local/bin/processing-2.2.1
Icon=/usr/local/icons/processing.png
Categories=Graphics;3DGraphics;Viewer;Qt;
Name[fr_FR]=processing 2
